body,
html {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
}
/*右侧菜单*/
.menu {
  width: 180px;
  height: 100%;
  background-color: #222d32;
  position: absolute;
  left: 0;
  /*用户显示*/
  /*菜单栏*/
}
.menu .brand {
  background-color: #367fa9;
  width: 100%;
  height: 50px;
}
.menu .brand a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.menu .user {
  padding: 30px 20px;
}
.menu .user span {
  color: #ffffff;
  font-size: 12px;
}
.menu .user img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.menu .aside ul {
  width: 100%;
  height: 100%;
}
.menu .aside ul li {
  width: 100%;
  padding-left: 30px;
}
.menu .aside ul li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #aaaaaa;
  text-decoration: none;
}
.menu .aside ul li a.chosen {
  color: #ffffff;
  border-left: 2px solid #3c8dbc;
  box-sizing: border-box;
  background-color: #1d1f21;
}
.menu .aside ul li span {
  padding-right: 3px;
}
/*======内容=====*/
.content {
  padding-left: 180px;
  width: 100%;
  /*顶部导航*/
  /*首页内容*/
}
.content.menuMove {
  padding-left: 0;
}
.content .topnav {
  width: 100%;
  height: 100%;
  background-color: #3c8dbc;
  overflow: hidden;
}
.content .topnav a {
  height: 100%;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
}
.content .topnav a:first-child {
  float: left;
  margin-left: 10px;
}
.content .topnav a:last-child {
  float: right;
  margin-right: 10px;
}
.content .mainContent {
  margin-top: 15px;
  /*路径导航*/
  /*==charts===*/
}
.content .mainContent .breadcrumb .breadcrumb a {
  text-decoration: none;
}
.content .mainContent .picTable {
  margin-top: 30px;
  margin-left: 10px;
  overflow: hidden;
  box-sizing: border-box;
  /*柱状图*/
  /*饼状图*/
}
.content .mainContent .picTable #colunm {
  float: left;
  width: 45%;
  height: 400px;
}
.content .mainContent .picTable #pie {
  width: 40%;
  height: 400px;
  float: right;
  margin-right: 10%;
}
/*登录界面样式*/
.loginPage {
  background-color: #222d32;
}
.loginPage .loginTip {
  margin-top: 150px;
  width: 30%;
}
.loginPage .loginTip .panel-heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 38px;
}
.loginPage .loginTip .form-group {
  padding: 20px 0;
}
.loginPage .loginTip .loginBtn {
  padding: 20px 0;
}
.loginPage .loginTip .loginBtn .resetLogin {
  margin-left: 30%;
  margin-right: 20%;
}
/*分类商品按钮样式*/
.listTable #addBtn {
  margin-bottom: 15px;
}
